#!/bin/bash
export USER=
export PASS=
export BASE_URL='http://eshpqcap:8080'
export CACHE=~/.hpqc/cache
export VIEW_PATH="/usr/share/hpqc/views ~/.hpqc/views"
export FILTER_PATH="/usr/share/hpqc/filters ~/.hpqc/filters"

# USED TO DEFINE TEMPORAL FILES FOR THE EXECUTING PLUGIN
export COOKIES=$(mktemp /tmp/bash_hpqc_cookie_jar.XXXXXXXXXX)
export HEAD=$(mktemp /tmp/bash_hpqc_heads.XXXXXXXXXX)
