#!/bin/bash
export USER=
export PASS=
export BASE_URL='http://eshpqcap:8080'
export DOMAIN=DEFAULT
export PROJECT=DIA_N2A
export CACHE=~/.hpqc/cache
export VIEW_PATH="/usr/share/hpqc/views ~/.hpqc/views"
export SEARCH_PATH="/usr/share/hpqc/searchs ~/.hpqc/searchs"
export FILTER_PATH="/usr/share/hpqc/filters ~/.hpqc/filters"
export PLUGIN_PATH="/usr/share/hpqc/plugins ~/.hpqc/plugins"
export MAX_DEFECTS=1000

# USED TO DEFINE TEMPORAL FILES FOR THE EXECUTING PLUGIN
export COOKIES=$(mktemp /tmp/bash_hpqc_cookie_jar.XXXXXXXXXX)
export HEAD=$(mktemp /tmp/bash_hpqc_heads.XXXXXXXXXX)

# CONFIGURE THE USE OF A PROXY. BY DEFAULT IS DISABLED
http_proxy=
https_proxy=
